*.cache
*.suo
*.exe
*.pdb
AppSettings.config
ConnectionStrings.config
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
*/**/Properties/Settings.settings
*/**/Properties/Settings.Designer.cs
