*.cache
*.suo
*.exe
*.pdb
.vs
*/**/obj
AppSettings.config
docfx.json
filterConfig.yml
toc.yml
index.md
/Polideportivo/connectionStrings.config
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
*/**/Properties/Settings.settings
*/**/Properties/Settings.Designer.cs
docfx.console.2.58.0
*/**/api
*/**/obj/api
*/**/obj
*/**/articles
